.cell{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 5px;
}
.row {
  display: flex;
}
.snake {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 5px;
  background-color: green;
}